@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
p{
    font-size: 20px;
}
footer{
    background-color: #01303f;
    height: 200px;
    width: 100%;
    margin: 0;
}
.hero{
    height: 300px;
    background-color: #01303f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color:aliceblue
}
.hero-title{
    font-size: 10px;
    color: white;
}
.hero-text{
    font-size: 2em;
    text-align: end;
    animation: fadeIn 4s linear forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.project{
    box-shadow: 3px 4px 5px #01303f;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #02577a;
    margin: 20px;
    width: 300px;
}
.project img{
    border-radius: 10px;
    width: 200px;
}
.butonLink{
    text-decoration: none;
    color: #d4f0fc;
    background-color: #01303f;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 3px 4px black;
}
.butons{
    padding: 10px;
}
.title{
    font-size: 30px;
    text-align: center;
}